<footer>
	<p>© 2025 CL Nickerson. All rights reserved.</p>
	<div class="social-icons">
		<a href="https://www.instagram.com/liljoker919" aria-label="Instagram"
			>Instagram Icon</a
		>
		<a href="https://www.youtube.com/@ChrisNickerson" aria-label="YouTube"
			>YouTube Icon</a
		>
		<a href="https://www.threads.net/@liljoker919" aria-label="Threads"
			>Threads Icon</a
		>
	</div>
</footer>
