<header>
	<nav>
		<a href="/" class="logo">CL Nickerson</a>
		<ul>
			<li><a href="/travel/">Travel</a></li>
			<li><a href="/cooking/">Cooking</a></li>
			<li><a href="/family/">Family</a></li>
			<li><a href="/lifestyle/">Lifestyle</a></li>
		</ul>
		<div class="social-icons">
			<a href="https://instagram.com" aria-label="Instagram"
				>Instagram Icon</a
			>
			<a href="https://youtube.com" aria-label="YouTube">YouTube Icon</a>
		</div>
	</nav>
</header>
