node_modules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# If you are using SQLite3:
*.sqlite3

# Django migrations
*/migrations/*

# Media files
media/

# Static files
staticfiles/

# Local environment settings
.env

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# JetBrains IDEs
.idea/

